<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="com.mobileum">
  <Appenders>
    <File name="main" fileName="/home/smruti/RAlogs/application.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} %m%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="Async">
      <AppenderRef ref="main"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Async"/>
    </Root>
  </Loggers>
</Configuration>