.full-width {
	width:100%;
}
.error {
	color: red;
}
.header-eror {
	text-align: center;
	color: red;
}

.donut.loading {
  background-image: url(../images/loader.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.donut.no-data-found:before {
	content: 'No data found';
}

.no-data:before {
	content: 'No data found';
	text-align: center;
}

.donut.no-data-found {
	text-align: center;
	vertical-align: middle;
}


.donut.internal-error:before {
	text-align: center;
	content: 'Internal server error';
}