.full-width {
	width:100%;
}
.error {
	color: red;
}
.header-eror {
	text-align: center;
	color: red;
}

.donut.loading {
  background-image: url(../images/loader.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.donut.loading-bottom {
  background-image: url(../images/loader.gif);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.donut.no-data-found:before {
	content: 'No data found';
}

.no-data:before {
	content: 'No data found';
	text-align: center;
}

.donut.no-data-found {
	text-align: center;
	vertical-align: middle;
}


.donut.internal-error:before {
	text-align: center;
	content: 'Internal server error';
}

 .statics-num.smallsize {
     font-size: 30px;
	display: block;
	line-height: 20px;
	margin-bottom: 10px;
}
.statics-num.smallsizemiddle {
     font-size: 30px;
	display: block;
	line-height: 20px;
	margin-top: 20px;
}
/****** 21-oct******/

.nodata{display: block;
vertical-align: middle;
text-align: center;
margin-top:58%;
}
 .remove-hitter{
	font-size: 14px
}

/* Added by Surya for - Left panel inner scroll*/
.scrolldiv{overflow-y:auto;overflow-x:hidden;display:inline-block;width:100%;max-height:150px;}
.menu-select-btn.network {
    margin-bottom: 15px;
    margin-top: 15px;
}

/***Added for homepage loader****/
.home-backdrop{position:fixed;width:100%;height:100%;z-index:
99999999;background:#000000;opacity: 0.5;display:table;top:0;left:0;}
.home-backdrop .loader{margin:0;width:100%;height:100%;text-align:center;display:table-cell;
vertical-align: middle;background:url(../images/loader.gif) no-repeat center center;}
.donut.loading-right {
  background: url(../images/loader.gif) no-repeat center center;
  height: 70px;
}
.value.donut.loading-right p{display:none;}
.value.donut.loading-right ul{display:none;}

.dashboard-statics .symbol, .dashboard-statics .value {
	position:relative;
}
.dashboard.dashboard-scroll{max-height:150px;overflow-y:auto;overflow-x:hidden;margin-bottom:20px;}
